body{
    display: flex;
    width: 800px;
    height: 800px;
    margin: auto;
    border: solid gray 2px;
    position: relative;
}

.construction-line{
    border: solid var(--construction-line-thickness) var(--construction-line-color);
}

.outline{
    background-color: var(--outline-color);
    height: var(--outline-thickness);
}

/*CONSTRUCTION OBJECTS*/
.construction-head{
    width: 6%;
    height: 8%;
    border-radius: var(--circle);
    position: absolute;
    top: 10%;
    left: 18%;
    transform: rotate(40deg);
}
.construction-body{
    width: 13%;
    height: 13%;
    border-radius: var(--circle);
    position: absolute;
    top: 53%;
    left: 45%;
}

/*PARENT CONTAINERS*/
.head-container{
    position: absolute;
    /*border: solid 2px red;*/
    width: 19%;
    height: 9%;
    top: 8%;
    left: 12%;
    transform: rotate(-50deg);
}
.neck-container{
    position: absolute;
    /*border: solid 2px green;*/
    width: 47%;
    height: 27%;
    top: 22%;
    left: 14%;
    transform: rotate(53deg);
}
.body-container{
    position: absolute;
    border: solid 2px blue;
    width: 46%;
    height: 26%;
    top: 44%;
    left: 33%;
}
.tail-container{
    position: absolute;
    border: solid 2px purple;
    width: 40%;
    height: 15%;
    top: 55%;
    left: 65%;
    transform: rotate(70deg);
}
.leg-container{
    position: absolute;
    border: solid 2px orange;
    width: 14%;
    height: 42%;
    top: 53%;
}

/*LEG PARENTS*/
.front-left{
    left: 30%;
}
.front-right{
    left: 39%;
}
.back-left{
    left: 56%;
}
.back-right{
    left: 65%;
}






